@{
    ViewBag.Title = "AdminLTE Test";
}
<h1 class="text-primary">Hello from AdminLTE!</h1>
<div class="small-box bg-info">
    <div class="inner">
        <h3>150</h3>
        <p>New Orders</p>
    </div>
    <div class="icon">
        <i class="fas fa-shopping-cart"></i>
    </div>
</div>
